<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateStock.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UpdateStock.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>hp-hana:30015</value>
            </setting>
            <setting name="LicenseServer" serializeAs="String">
                <value>hp-hana:40000</value>
            </setting>
            <setting name="DbUserName" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>Tekno2016</value>
            </setting>
            <setting name="CompanyDB" serializeAs="String">
                <value>DESARROLLAR1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Tekno2015.</value>
            </setting>
        </UpdateStock.My.MySettings>
    </userSettings>
</configuration>